<%- include('topHTML.ejs') %>
    <div class="wrapper">
        <%- include('navbar.ejs') %>
        <div class="bg-gray-50 dark:bg-gray-900 flex flex-col px-10 py-8 mx-auto md:h-screen lg:py-0 wrapper-element w-full">
            <div class="py-10 px-10">
                <h1 class="text-white font-semibold text-4xl">Create New Election</h1>
                <form action="/dbElectionCreate" method="POST">
                    <p class="text-white font-medium text-purple-500 pt-5 pb-2">What is your election's name?</p>
                    <input type="text" name="electionName" id="electionName" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Vote for the class monitor?">
                    <p class="text-white font-medium text-purple-500 pt-5 pb-2">Enter custom election URL:</p>
                    <input type="text" name="electionURL" id="electionURL" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Vote for the class monitor?">
                    <button type="submit" class="text-white bg-purple-700 px-4 py-2 rounded-lg hover:bg-purple-800 mt-5" >Submit</button>
                </form>
            </div>
        </div>
    </div>
<%- include('bottomHTML.ejs') %>