<%- include('topHTML.ejs') %>
    <%- include('navbar.ejs') %>
    <section class="bg-gray-50 dark:bg-gray-900 flex flex-col px-10 py-8 mx-auto md:h-screen lg:py-0">
        <div class="py-10 px-10">
            <div>
                <h1 class="text-white text-3xl font-semibold">Welcome, <%=username%></h1>
            </div>
            <div class="pt-3">
                <a href="#" class="text-purple-400 font-medium hover:text-purple-500">Create a new election</a>
            </div>
        </div>
    </section>
<%- include('bottomHTML.ejs') %>