<nav class="flex items-center justify-between flex-wrap bg-gradient-to-r from-purple-600 to-indigo-600 p-2 ">
    <div>
        <a href="/dashboard"><h1 class="font-bold text-white text-2xl pl-4">OVP</h1></a>
    </div>
    <div>
        <h1 class="font-semibold text-white pl-4 inline-block text-m px-4 py-2 leading-none mt-4 lg:mt-0"><%= data %></h1>    
        <a href="/signout"><h1 class="font-semibold text-white pl-4 inline-block text-sm px-4 py-2 leading-none mt-4 lg:mt-0"><%= logout %></h1></a> 
    </div>   
</nav>