<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Tailwind CSS CDN  -->
    <script src="https://cdn.tailwindcss.com"></script>
    
    <!-- Font Awesome Icon Pack -->
    <script
      src="https://kit.fontawesome.com/3e6a5470c9.js"
      crossorigin="anonymous"
    ></script>

    <title><%= title %></title>

    <!-- External css -->
    <link rel="stylesheet" href="/css/styles.css"/>

    <!-- Other JS scripts -->
    <script>
        function deleteOption(id){
            fetch(`/delete-option/${id}`, {
                method: "delete",
                headers: {"Content-Type": "application/json"},
            })
                .then((res)=>{
                    if (res.ok){
                        window.location.reload();
                    }
                })
                    .catch((err)=>{
                        console.error(err);
                    })
        }

        function updateOption(id, electionId){
            fetch(`/update-option/${id}`, {
                method: "put",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                    "option":document.getElementById('option').value,
                })
            })
                .then((res)=>{
                    if (res.ok){
                        window.location.href="/manage-questions/"+electionId;
                    }
                })
                    .catch((err)=>{
                        console.error(err);
                    })
        }

        function deleteQuestion(id){
            fetch(`/delete-question/${id}`, {
                method: "delete",
                headers: {"Content-Type": "application/json"},
            })
                .then((res)=>{
                    if (res.ok){
                        window.location.reload();
                    }
                })
                    .catch((err)=>{
                        console.error(err);
                    })
        }

        function updateQuestion(id, electionId){
            fetch(`/update-question/${id}`, {
                method: "put",
                headers: { "Content-Type": "application/json"},
                body: JSON.stringify({
                    "question":document.getElementById('question').value,
                    "description": document.getElementById('description').value
                })
            })
                .then((res)=>{
                    if (res.ok) {
                        window.location.href = `/manage-questions/${electionId}`;
                    }
                })
                    .catch((err)=> console.error(error));
        }

        function deleteElection(id){
            fetch(`/delete-election/${id}`, {
                method: "delete",
                headers: {"Content-Type": "application/json"},
            })
                .then((res)=>{
                    if (res.ok){
                        window.location.reload();
                    }
                })
                    .catch((err)=>{
                        console.error(err);
                    })
        }
        function updateElection(id){
            fetch(`/edit-title/${id}`, {
                method: "put",
                headers: { "Content-Type": "application/json"},
                body: JSON.stringify({
                    "name":document.getElementById('title').value,
                })
            })
                .then((res)=>{
                    if (res.ok) {
                        window.location.href = `/handle-election/${id}`;
                    }
                })
                    .catch((err)=> console.error(error));
        }
    </script>

</head>
<body>