::-webkit-scrollbar {
    width: .75em;
    height: 1em;
}

::-webkit-scrollbar-track {
    background: #a254eb;
    border-radius: 100vw;
    margin-block: 10em;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(226, 226, 226);
}

.wrapper {
    position: relative;
}

body {
    background-color: #11192A !important;
}

.wrapper-element {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    padding-top: 3% !important;
}

.delete-icon:hover {
    color: #c288f8;
}

.set-width {
    width: 30%;
}